# For configuring docker-compose.yml itself:
OPENCLAW_NAME=henry
OPENCLAW_HOSTNAME=henry.home.example.net
UID=
GID=
# For passing through to the container environment:
OPENCLAW_GATEWAY_TOKEN=
DISCORD_BOT_TOKEN=
